{% extends 'frontend/base.html.twig' %}
 
{% block body %}
    <fieldset style="width:400px">
        <legend>Buy Now :) - select + onload - info </legend>
        <ul>
            <li><b><a href="{{ path('payment_selection', {'service': service, 'server': server, 'payment': 'sms'}) }}">SMS</a></b></li>
            <li><b><a href="{{ path('payment_selection', {'service': service, 'server': server, 'payment': 'paysafecard'}) }}">PaySafeCard</a></b></li>
            <li><b><a href="{{ path('payment_selection', {'service': service, 'server': server, 'payment': 'transfer'}) }}">Przelew</a></b></li>
        </ul>
    </fieldset>
{% endblock %}