{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="position-absolute card-top-buttons">
                    <button class="btn btn-header-light icon-button">
                        <i class="simple-icon-refresh"></i>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Polecane zniżki</h5>
                    <div class="scroll dashboard-list-with-thumbs">
                        <div class="d-flex flex-row mb-3">
                            <a class="d-block position-relative" href="#">
                                <img src="img/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">-5%</span>
                            </a>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                                <a href="#">
                                    <p class="list-item-heading">VIP serwer ONLY DD</p>
                                    <div class="pr-4 d-none d-sm-block">
                                        <p class="text-muted mb-1 text-small">Dostępny do: </p>
                                    </div>
                                    <div class="text-primary text-small font-weight-medium d-none d-sm-block">09.04.2018</div>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3">
                            <a class="d-block position-relative" href="#">
                                <img src="img/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">-5%</span>
                            </a>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                                <a href="#">
                                    <p class="list-item-heading">VIP serwer ONLY DD</p>
                                    <div class="pr-4 d-none d-sm-block">
                                        <p class="text-muted mb-1 text-small">Dostępny do: </p>
                                    </div>
                                    <div class="text-primary text-small font-weight-medium d-none d-sm-block">09.04.2018</div>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3">
                            <a class="d-block position-relative" href="#">
                                <img src="img/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">-5%</span>
                            </a>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                                <a href="#">
                                    <p class="list-item-heading">VIP serwer ONLY DD</p>
                                    <div class="pr-4 d-none d-sm-block">
                                        <p class="text-muted mb-1 text-small">Dostępny do: </p>
                                    </div>
                                    <div class="text-primary text-small font-weight-medium d-none d-sm-block">09.04.2018</div>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3">
                            <a class="d-block position-relative" href="#">
                                <img src="img/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">-5%</span>
                            </a>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                                <a href="#">
                                    <p class="list-item-heading">VIP serwer ONLY DD</p>
                                    <div class="pr-4 d-none d-sm-block">
                                        <p class="text-muted mb-1 text-small">Dostępny do: </p>
                                    </div>
                                    <div class="text-primary text-small font-weight-medium d-none d-sm-block">09.04.2018</div>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3">
                            <a class="d-block position-relative" href="#">
                                <img src="img/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">-5%</span>
                            </a>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                                <a href="#">
                                    <p class="list-item-heading">VIP serwer ONLY DD</p>
                                    <div class="pr-4 d-none d-sm-block">
                                        <p class="text-muted mb-1 text-small">Dostępny do: </p>
                                    </div>
                                    <div class="text-primary text-small font-weight-medium d-none d-sm-block">09.04.2018</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ostatnio kupujący</h5>

                    <div class="scroll dashboard-list-with-user">
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="img/profile-pic-l.jpg" alt="Mayra Sibley" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                    <p class="text-muted mb-0 text-small">VIP DD2</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="img/profile-pic-l-7.jpg" alt="Mimi Carreira" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Mimi Carreira</p>
                                    <p class="text-muted mb-0 text-small">MEGAPREMIUM</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="img/profile-pic-l-6.jpg" alt="Philip Nelms" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Philip Nelms</p>
                                    <p class="text-muted mb-0 text-small">REZERWACJA SLOTA</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="img/profile-pic-l-3.jpg" alt="Terese Threadgill" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Terese Threadgill</p>
                                    <p class="text-muted mb-0 text-small">sVIP</p>
                                </a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-40">
                <div class="card-body">
                    <h5 class="card-title">Najczęściej przegladane</h5>
                    <table class="data-table responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                        <tr>
                            <th  style="width: 80%">Nazwa</th>
                            <th>Odwiedziny</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="list-item-heading">Usługa: <strong>sVIP</strong> Serwer: <strong>DD2</strong></p>
                            </td>
                            <td class="text-center">
                                <p class="text-muted">1452</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="iconsmind-Billing mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">ostatnie 5</p>
                            <p class="text-small text-white">voucherów na VIP</p>
                        </div>
                    </div>

                    <div>
                        <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative"
                             data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5"
                             aria-valuemax="23" data-show-percent="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="iconsmind-Cloud-Computer mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">12 serwerów</p>
                            <p class="text-small text-white">z dostępnymi usługami</p>
                        </div>
                    </div>
                    <div>
                        <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative"
                             data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="12"
                             aria-valuemax="14" data-show-percent="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <a href="#" class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="iconsmind-Bell mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">10 promocji</p>
                            <p class="text-small text-white">dostępnych do 12.01.2019</p>
                        </div>
                    </div>
                    <div>
                        <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative"
                             data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="10"
                             aria-valuemax="16" data-show-percent="false">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}