<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/font/iconsmind/style.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body {% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/dore.script.js"></script>
<script src="/js/scripts.js"></script>
{% block javascripts %}{% endblock %}
</body>