<div class="sidebar">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li class="active">
                    <a href="#dashboard">
                        <i class="iconsmind-Shop-4"></i>
                        <span>O sklepie</span>
                    </a>
                </li>
                <li>
                    <a href="#vip">
                        <i class="iconsmind-Star-Track"></i> Usługi
                    </a>
                </li>
                <li>
                    <a href="#servers">
                        <i class="iconsmind-Cloud-Computer"></i> Serwery
                    </a>
                </li>
                <li>
                    <a href="#vouchers">
                        <i class="iconsmind-Billing"></i> Vouchery
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">
            <ul class="list-unstyled" data-link="dashboard">
                <li>
                    <a href="#">
                        <i class="simple-icon-home"></i> Strona główna
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-docs"></i> Regulamin
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-question"></i>F.A.Q.
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-phone"></i> Kontakt
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-social-steam"></i> Jak sprawdzić SteamID?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-user-follow"></i> Jak się zarejestrować?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-lock"></i> Jak zmienić hasło?
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" data-link="vip">
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> VIP <span class="badge badge-pill badge-outline-primary float-right mr-4">NEW</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> sVIP
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> Premium
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> Mega Premium
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> Admin
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> Opiekun serwera
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-star"></i> Rezerwacja slota
                    </a>
                </li>


            </ul>
            <ul class="list-unstyled" data-link="servers">
                <li>
                    <a href="#">
                        <i class="simple-icon-check"></i> #1 Arena 1vs1
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-check"></i> #2 Arena 1vs1
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-check"></i> #3 Arena 1vs1
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-check"></i> #4 Arena 1vs1
                    </a>
                </li>

            </ul>
            <ul class="list-unstyled" data-link="vouchers">
                <li>
                    <a href="#">
                        <i class="simple-icon-info"></i> Jak zdobyć voucher?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-wallet"></i> Zrealizuj kod
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>